# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Environments
.env
.venv/
env/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project data (large files)
dataset/
results/

# Jupyter
.ipynb_checkpoints/

# Conda
*.conda
